[Unit]
Description=VmManager Agent
After=network.target libvirtd.service

[Service]
Type=notify
ExecStart=/opt/vmmanager-agent/VmManager.Agent
WorkingDirectory=/opt/vmmanager-agent
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
